In [1]:
import pandas as pd
df = pd.read_csv("applMISS.csv")
df.head()

    close    volume    open      high       low
0  212.46  22267819  213.30  214.4350  210.7500
1  212.46  22267820  213.19  214.4350  210.7500
2  212.64  21564750  212.99  213.6500  211.6032
3  210.36  26919530  210.88  213.3500  210.3200
4  210.35  24431920  210.62  212.7307  210.0250

In [2]:
pd.date_range(start="2018/09/05",end="2019-08-23",freq='B')

DatetimeIndex(['2018-09-05', '2018-09-06', '2018-09-07', '2018-09-10',
               '2018-09-11', '2018-09-12', '2018-09-13', '2018-09-14',
               '2018-09-17', '2018-09-18',
               ...
               '2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15',
               '2019-08-16', '2019-08-19', '2019-08-20', '2019-08-21',
               '2019-08-22', '2019-08-23'],
              dtype='datetime64[ns]', length=253, freq='B')

In [3]:
# TO INCLUDE ALL HOLIDAY CALENDAR

In [4]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

usb = CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb

In [15]:
rng = pd.date_range(start="2018/08/22",end="2019-08-23",freq=usb)

In [16]:
df.set_index(rng,inplace=True)
df

             close    volume    open      high       low
2018-08-22  212.46  22267819  213.30  214.4350  210.7500
2018-08-23  212.46  22267820  213.19  214.4350  210.7500
2018-08-24  212.64  21564750  212.99  213.6500  211.6032
2018-08-27  210.36  26919530  210.88  213.3500  210.3200
2018-08-28  210.35  24431920  210.62  212.7307  210.0250
...            ...       ...     ...       ...       ...
2019-08-19  219.70  22751390  219.01  220.5400  218.9200
2019-08-20  217.94  20400770  217.15  218.7400  216.3300
2019-08-21  216.16  18457720  216.60  216.9000  215.1100
2019-08-22  215.49  18505780  214.65  217.0500  214.6000
2019-08-23  215.05  18965930  214.10  216.3600  213.8400

[253 rows x 5 columns]

In [19]:
# FOR CREATING YOUR OWN HOLIDAY
# EDITED THE ORIGINAL PANDAS CONTENT
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday,Holiday

class myBirthDayCalendar(AbstractHolidayCalendar):
    rules = {
        Holiday("my birtday", month=2, day=13)
    }

myc = CustomBusinessDay(calendar=myBirthDayCalendar())
myc

In [20]:
pd.date_range(start="2018/09/05",end="2019-08-23",freq=myc)

DatetimeIndex(['2018-09-05', '2018-09-06', '2018-09-07', '2018-09-10',
               '2018-09-11', '2018-09-12', '2018-09-13', '2018-09-14',
               '2018-09-17', '2018-09-18',
               ...
               '2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15',
               '2019-08-16', '2019-08-19', '2019-08-20', '2019-08-21',
               '2019-08-22', '2019-08-23'],
              dtype='datetime64[ns]', length=252, freq='C')

In [21]:
# FOR EGYPT (WEEKEND = FRI, SAT)

In [24]:
b = CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu')
pd.date_range(start="2018-09-05", end="2019-08-23", freq=b)

DatetimeIndex(['2018-09-05', '2018-09-06', '2018-09-09', '2018-09-10',
               '2018-09-11', '2018-09-12', '2018-09-13', '2018-09-16',
               '2018-09-17', '2018-09-18',
               ...
               '2019-08-11', '2019-08-12', '2019-08-13', '2019-08-14',
               '2019-08-15', '2019-08-18', '2019-08-19', '2019-08-20',
               '2019-08-21', '2019-08-22'],
              dtype='datetime64[ns]', length=252, freq='C')